# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Thiago\Documents\Faculdade\Gestão de Qualidade\Exercícios\Projetos\TestesParametrizados\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
